@import './variable';

@font-face {
	font-family: font1;
	src: url('/font/JosefinSans-Regular.ttf');
}
@font-face {
	font-family: font2;
	src: url('/font/JosefinSans-Bold.ttf');
}

html,
body {
	overflow-x: hidden;
}

:not(md *) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: var(--font1);
}

#svelte-announcer {
	display: none;
}

.date {
	font-style: italic;
	font-size: 12px;
}

.html_content img {
	width: 100%;
	border-radius: var(--bRadius);
}

video {
	width: 100%;
}
