@font-face {
	font-family: font1;
	src: url('/font/JosefinSans-Regular.ttf');
}
@font-face {
	font-family: font2;
	src: url('/font/JosefinSans-Bold.ttf');
}

html,
body {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	font-family: var(--font1);
}

#svelte-announcer {
	display: none;
}

video,
img {
	width: 100%;
}

.date {
	font-style: italic;
	font-size: 12px;
}
