$color1: white;
$color2: rgb(56, 56, 56);
$color3: rgb(255, 102, 51);
$color4: rgba(255, 255, 255, 0.5);
$color5: black;
$color6: rgb(230, 230, 230);
$colorNill: rgba(255, 255, 255, 0);

$fColor1: $color1;
$fColor2: black;
$fColor3: $color3;

$mobileWidth: 600px;
$mobileWidth2: 1200px;
$mobileMenuWidth: 300px;

$headerHeight: 70px;

$animTime1: 100ms;

$bRadius: 5px;
$pad: 30px;


// @font-face {
// 	font-family: font1;
// 	src: url("/font/segoescb.ttf");
// }

@font-face {
	font-family: font1;
	src: url("/font/JosefinSans-Regular.ttf");
}
@font-face {
	font-family: font2;
	src: url("/font/JosefinSans-Bold.ttf");
}