$color1: white;
$color2: rgb(56, 56, 56);;
$color3: rgb(255, 102, 51);
$color4: rgba(255, 255, 255, 0.5);
$colorNill: rgba(255, 255, 255, 0);

$fColor1: $color1;
$fColor2: black;

$mobileWidth: 600px;

$headerHeight: 70px;

$mobileMenuWidth: 300px;
$menuItemHeight: 50px;

$animTime1: 100ms;

$bRadius: 5px;
